<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>we cannot find <%= data %> item</h1>
    <a href="/calorie">return</a>

  </body>
</html>
<!-- <html> -->
  <head>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>


    <div class="login-page" >
      <div class="form" >
        <form class="login-form">
          <!-- <input type="text" name="username" placeholder="username" />
          <!-- <button>login</button> -->
          <!-- <p class="message">Not registered? <a href="#">Create an account</a></p> -->
          <!-- <button type="submit" name="button">calculate</button> --> -->
          <label>we cannot find <%= data %> item</label>
          <!-- <h1>we cannot find <%= data %> item</h1> -->
          <a href="/calorie">return</a>
        </form>
      </div>
    </div>
  </body>
</html>
