
<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>


    <div class="login-page" >
      <div class="form">
        <form class="login-form" action="/calorie" method="post">
          <input type="text" name="text" placeholder="enter you food" />
          <h1><%= calorie %></h1>
          <!-- <button>login</button> -->
          <!-- <p class="message">Not registered? <a href="#">Create an account</a></p> -->
          <button type="submit" name="button">calculate</button>
        </form>
      </div>
    </div>
  </body>
</html>
