<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>remaining calories</title>
  </head>
  <body>
    <h1>remaining calories</h1>
    <form action="/calorie" method="post">
      <input type="text" name="text" value="">
      <h1><%= calorie %></h1>
    <button type="submit" name="button">calculate</button>
    </form>
    <form class="" action="index.html" method="post">

    </form>
  </body>
</html>
